Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*

ExtraArgsBefore:
  - "-std=c++23"
  - "--target=arm-none-eabi"
  - "--sysroot=/opt/devkitpro/devkitARM/arm-none-eabi"
  - "-stdlib=libstdc++"
  - "-Wno-unknown-argument"
  - "-Wno-unused-command-line-argument"
  - "-Wno-unqualified-std-cast-call"
  - "-isystem"
  - "/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/current"
  - "-isystem"
  - "/opt/devkitpro/devkitARM/arm-none-eabi/include/c++/current/arm-none-eabi"
  - "-isystem"
  - "/opt/devkitpro/devkitARM/arm-none-eabi/include"
  - "-I/workspace/game/include"
  - "-I/workspace/extern/engine/core/include"
  - "-I/workspace/extern/engine/extern/butano/common/include"
  - "-I/workspace/extern/engine/src/save_system/include"
  - "-I/workspace/extern/engine/extern/butano/butano/include"
  - "-I/workspace/extern/engine/extern/butano/butano/hw/3rd_party/libtonc/include"
  - "-I/workspace/extern/engine/extern/butano/butano/hw/3rd_party/libugba/include"
  - "-I/workspace/extern/engine/extern/butano/butano/hw/3rd_party/maxmod/include"
  - "-I/workspace/build"