[submodule "extern/butano"]
	path = extern/butano
	url = https://github.com/GValiente/butano.git

[submodule "extern/engine"]
	path = extern/engine
	url = https://github.com/gba-projekt-thi/engine.git
